.ave {
    position: absolute;
    margin-top: 50px;
    max-width: 1900px;
    max-height: 450px;
    left: 0px;
}
.ave-text {
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 40%;
    bottom: 50%;
    font-family: 'Montserrat';
    font-size: 30px;
    color: white;
}
.local-stores {
    font-size: 48px;
}